/*body*/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1450px;
    margin: 0 auto;
    }

            /*header*/

.flex{
    display: flex;
    justify-content: space-between;
}

.img-logo{
    max-width: 100px;
    padding: 3.5rem 0 0 0 ;
}

.item-menu a{
    padding: 0 2.3rem;
    text-decoration: none;
}

.item-menu ul{
    list-style: none;
    margin: 3.5rem 2rem 0 0;
    
}

.item-menu a:link{
    color: #0065FC;
}

.item-menu a{
    color: black;
}

.item-menu a:focus{
    color: #0065FC;
    border-top: #0065FC 3.5px solid;
    padding-top: 3.4rem;
}

.item-menu a:hover{
    color: #0065FC;
}



.item-menu ul li:nth-child(3){
    color: #0065FC;
    font-weight: bold;
}

.couleur-bleu{
    color: #0065FC!important;
}

            /*main*/

h1{
    padding-top: 1rem;
}

.filtre{
    justify-content: start;
}

i{
    color: #0065FC;
    padding-right: 1rem;
    border: 2px solid grey;
    border-radius: 50% 50%;
}